<!doctype html>
{% extends "base.html" %}

{% block main %}
  <div class="card">
    <div class="card-body">
      <h3 style="text-align:center">Music Player</h3>
      <br>
      <center>
        <a href="{{  url_for('mute') }}" class="media-key"><img src="/static/assets/images/media/volume_mute.png"></a>
        <a href="{{  url_for('volume_down') }}" class="media-key"><img src="/static/assets/images/media/volume_down.png"></a>
        <a href="{{  url_for('volume_up') }}" class="media-key"><img src="/static/assets/images/media/volume_up.png"></a>
        <a href="{{  url_for('prev_song') }}" class="media-key"><img src="/static/assets/images/media/prev_song.png"></a>
        <a href="{{  url_for('play_pause_music') }}" class="media-key"><img src="/static/assets/images/media/play_pause.png"></a>
        <a href="{{  url_for('next_song') }}" class="media-key"><img src="/static/assets/images/media/next_song.png"></a>
      </center>
      <!-- <a   href="#" class="btn btn-danger">Stop</a> -->
    </div>
  </div>
{% endblock %}
